/* @font-face {
  font-family: "Happy Times";
  src: url(https://cdn.shopify.com/s/files/1/0551/2927/6468/files/happy-times-NG_bold_master_web.ttf?v=1703082181);
}
@font-face {
  font-family: "Happy Times";
  src: url(https://cdn.shopify.com/s/files/1/0551/2927/6468/files/happy-times-NG_italic_master_web.ttf?v=1703082243);
} */
@font-face {
  font-family: "Happy Times";
  src: url(https://cdn.shopify.com/s/files/1/0551/2927/6468/files/happy-times-NG_regular_master_web.ttf?v=1703082293);
}
.template-index .Header__LogoImage {
  transition: all 1s;
  position: relative;
}
.template-index .Header--transparent .Header__LogoLink .Header__LogoImage {
  transition: all 1s;
  max-width: clamp(200px, 59.3vw, 792px);
}
.a-btn {
  color: #321A17;
  padding: 10px 44px;
  background-color: white;
  text-align: center;
  font-family: "Happy Times";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  cursor: pointer;
}

a#BIS_trigger{
  display:none;
}
button#BIS_trigger{
  display:none;
}
button#BIS_trigger.active{
  display:block;
}



/*--- fix ---*/

button.ProductForm__AddToCart.Button.Button--secondary{
    background: #FDF8F1 !important;
    border: 1px solid #000;
    color: #321A17;
    text-transform: uppercase;
    padding: 14px !important;
    transition:0.3s;
    font-family: grover_rad!important;
    text-transform: uppercase;
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 12px));
    text-align: center;
    letter-spacing: .2em;
    font-weight: 600;
    font-style: var(--heading-font-style);
}
button.ProductForm__AddToCart.Button.Button--secondary:hover{
  background:  #321A17 !important;
  border: 1px solid #000;
  color: #FDF8F1;
}

.ProductItem.opacityImage img:nth-child(1){
  opacity:0 !important;
}
.ProductItem.opacityImage img:nth-child(2){
  opacity:0.5 !important;
}
.new-price-custom{
  text-decoration-line: underline;
}
.ProductForm__Label .ProductForm__LabelLink{
  font-family: inherit !important;
  font-size: 8px !important;
}